<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="autocreditmemo" translate="label" type="text" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Auto Credit Memo</label>
            <tab>sales</tab>
            <resource>AlpineCommerce_CreditMemo::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General Configuration</label>
                <field id="enabled" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Auto Credit Memo</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="payment_methods" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Methods (comma separated, empty for all)</label>
                    <comment>Leave empty to allow all payment methods. Example: checkmo, banktransfer</comment>
                </field>
                <field id="auto_refund" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Auto Refund to Payment Gateway</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If Yes, the refund will be sent online to the payment gateway</comment>
                </field>
            </group>
        </section>
    </system>
</config>
