<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="alphacommerce_hreflang" translate="label" type="text" sortOrder="330"
                 showInDefault="1" showInWebsite="0" showInStore="1">
            <label>Hreflang</label>
            <tab>general</tab>
            <resource>AlpineCommerce_Hreflang::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="0" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Enable Hreflang Tags</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="x_default" translate="label" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Add x-default Link</label>
                    <comment>Points to the default store view.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
