# Magento 2 Docker Environment
COMPOSE_PROJECT_NAME=magento2

# MySQL
MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=magento2
MYSQL_USER=magento
MYSQL_PASSWORD=magento123

# Elasticsearch
ES_JAVA_OPTS=-Xms1g -Xmx1g

# Magento
MAGENTO_VERSION=2.4.8
MAGENTO_HOST=localhost
MAGENTO_PORT=8080
