<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <alpinecommerce_turnstile>
            <general>
                <enabled>0</enabled>
                <theme>auto</theme>
                <timeout>5</timeout>
                <failure_mode>closed</failure_mode>
            </general>
            <forms>
                <contact>1</contact>
                <customer_create>1</customer_create>
                <customer_login>1</customer_login>
                <customer_forgot_password>1</customer_forgot_password>
                <!-- No layout container on these forms: enabled once the widget is injected by selector. -->
                <newsletter>0</newsletter>
                <product_review>1</product_review>
                <sendfriend>1</sendfriend>
                <wishlist_share>0</wishlist_share>
            </forms>
        </alpinecommerce_turnstile>
    </default>
</config>
