<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AlpineCommerce\Turnstile\Api\ValidatorInterface" type="AlpineCommerce\Turnstile\Model\Validator"/>
    <preference for="AlpineCommerce\Turnstile\Model\FailureResponderInterface" type="AlpineCommerce\Turnstile\Model\FailureResponder"/>

    <virtualType name="AlpineCommerce\Turnstile\Logger\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/turnstile.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlpineCommerce\Turnstile\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">turnstile</argument>
            <argument name="handlers" xsi:type="array">
                <item name="turnstile" xsi:type="object">AlpineCommerce\Turnstile\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="AlpineCommerce\Turnstile\Model\Validator">
        <arguments>
            <argument name="logger" xsi:type="object">AlpineCommerce\Turnstile\Logger</argument>
        </arguments>
    </type>
    <type name="AlpineCommerce\Turnstile\Model\Config">
        <arguments>
            <argument name="logger" xsi:type="object">AlpineCommerce\Turnstile\Logger</argument>
        </arguments>
    </type>
    <type name="AlpineCommerce\Turnstile\Model\Twin\TwinBlocker">
        <arguments>
            <argument name="logger" xsi:type="object">AlpineCommerce\Turnstile\Logger</argument>
        </arguments>
    </type>
    <type name="AlpineCommerce\Turnstile\Model\FormDataPersister\SessionFormDataPersister">
        <arguments>
            <argument name="logger" xsi:type="object">AlpineCommerce\Turnstile\Logger</argument>
        </arguments>
    </type>
    <type name="AlpineCommerce\Turnstile\Model\SiteVerifyClient">
        <arguments>
            <argument name="verifyUrl" xsi:type="string">https://challenges.cloudflare.com/turnstile/v0/siteverify</argument>
        </arguments>
    </type>

    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="alpinecommerce_turnstile/general/secret_key" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

    <!-- Input kept after a rejection, where Magento reads it back (decision D7). -->
    <virtualType name="AlpineCommerce\Turnstile\Model\FormDataPersister\Contact" type="AlpineCommerce\Turnstile\Model\FormDataPersister\DataPersistorFormDataPersister">
        <arguments>
            <argument name="key" xsi:type="string">contact_us</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlpineCommerce\Turnstile\Model\FormDataPersister\CustomerCreate" type="AlpineCommerce\Turnstile\Model\FormDataPersister\SessionFormDataPersister">
        <arguments>
            <argument name="requiredModule" xsi:type="string">Magento_Customer</argument>
            <argument name="sessionType" xsi:type="string">Magento\Customer\Model\Session</argument>
            <argument name="setter" xsi:type="string">setCustomerFormData</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlpineCommerce\Turnstile\Model\FormDataPersister\CustomerLogin" type="AlpineCommerce\Turnstile\Model\FormDataPersister\SessionFormDataPersister">
        <arguments>
            <argument name="requiredModule" xsi:type="string">Magento_Customer</argument>
            <argument name="sessionType" xsi:type="string">Magento\Customer\Model\Session</argument>
            <argument name="setter" xsi:type="string">setUsername</argument>
            <argument name="valueField" xsi:type="string">login/username</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlpineCommerce\Turnstile\Model\FormDataPersister\CustomerForgotPassword" type="AlpineCommerce\Turnstile\Model\FormDataPersister\SessionFormDataPersister">
        <arguments>
            <argument name="requiredModule" xsi:type="string">Magento_Customer</argument>
            <argument name="sessionType" xsi:type="string">Magento\Customer\Model\Session</argument>
            <argument name="setter" xsi:type="string">setForgottenEmail</argument>
            <argument name="valueField" xsi:type="string">email</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlpineCommerce\Turnstile\Model\FormDataPersister\SendFriend" type="AlpineCommerce\Turnstile\Model\FormDataPersister\SessionFormDataPersister">
        <arguments>
            <argument name="requiredModule" xsi:type="string">Magento_SendFriend</argument>
            <argument name="sessionType" xsi:type="string">Magento\Catalog\Model\Session</argument>
            <argument name="setter" xsi:type="string">setSendfriendFormData</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlpineCommerce\Turnstile\Model\FormDataPersister\ProductReview" type="AlpineCommerce\Turnstile\Model\FormDataPersister\SessionFormDataPersister">
        <arguments>
            <argument name="requiredModule" xsi:type="string">Magento_Review</argument>
            <argument name="sessionType" xsi:type="string">Magento\Review\Model\Session</argument>
            <argument name="setter" xsi:type="string">setFormData</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlpineCommerce\Turnstile\Model\FormDataPersister\WishlistShare" type="AlpineCommerce\Turnstile\Model\FormDataPersister\SessionFormDataPersister">
        <arguments>
            <argument name="requiredModule" xsi:type="string">Magento_Wishlist</argument>
            <argument name="sessionType" xsi:type="string">Magento\Wishlist\Model\Session</argument>
            <argument name="setter" xsi:type="string">setSharingForm</argument>
        </arguments>
    </virtualType>

    <!-- Magento form presets. A module adds its own form with an item in FormRegistry's "forms" argument
         and a default switch alpinecommerce_turnstile/forms/<id> in its config.xml. -->
    <virtualType name="AlpineCommerce\Turnstile\Model\Form\Preset\Contact" type="AlpineCommerce\Turnstile\Model\FormDefinition">
        <arguments>
            <argument name="id" xsi:type="string">contact</argument>
            <argument name="label" xsi:type="string">Contact Us</argument>
            <argument name="actions" xsi:type="array">
                <item name="contact_index_post" xsi:type="string">contact_index_post</item>
            </argument>
            <argument name="requiredModule" xsi:type="string">Magento_Contact</argument>
            <argument name="redirectPath" xsi:type="string">contact/index</argument>
            <argument name="persister" xsi:type="object">AlpineCommerce\Turnstile\Model\FormDataPersister\Contact</argument>
            <argument name="recaptchaConfigPath" xsi:type="string">recaptcha_frontend/type_for/contact</argument>
            <argument name="sortOrder" xsi:type="number">10</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlpineCommerce\Turnstile\Model\Form\Preset\CustomerCreate" type="AlpineCommerce\Turnstile\Model\FormDefinition">
        <arguments>
            <argument name="id" xsi:type="string">customer_create</argument>
            <argument name="label" xsi:type="string">Create an Account</argument>
            <argument name="actions" xsi:type="array">
                <item name="customer_account_createpost" xsi:type="string">customer_account_createpost</item>
            </argument>
            <argument name="requiredModule" xsi:type="string">Magento_Customer</argument>
            <argument name="redirectPath" xsi:type="string">customer/account/create</argument>
            <argument name="redirectParams" xsi:type="array">
                <item name="_secure" xsi:type="boolean">true</item>
            </argument>
            <argument name="persister" xsi:type="object">AlpineCommerce\Turnstile\Model\FormDataPersister\CustomerCreate</argument>
            <argument name="recaptchaConfigPath" xsi:type="string">recaptcha_frontend/type_for/customer_create</argument>
            <argument name="sortOrder" xsi:type="number">20</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlpineCommerce\Turnstile\Model\Form\Preset\CustomerLogin" type="AlpineCommerce\Turnstile\Model\FormDefinition">
        <arguments>
            <argument name="id" xsi:type="string">customer_login</argument>
            <argument name="label" xsi:type="string">Customer Login</argument>
            <argument name="actions" xsi:type="array">
                <item name="customer_account_loginpost" xsi:type="string">customer_account_loginpost</item>
            </argument>
            <argument name="requiredModule" xsi:type="string">Magento_Customer</argument>
            <argument name="redirectPath" xsi:type="string">customer/account/login</argument>
            <argument name="redirectParams" xsi:type="array">
                <item name="_secure" xsi:type="boolean">true</item>
            </argument>
            <argument name="persister" xsi:type="object">AlpineCommerce\Turnstile\Model\FormDataPersister\CustomerLogin</argument>
            <argument name="recaptchaConfigPath" xsi:type="string">recaptcha_frontend/type_for/customer_login</argument>
            <argument name="sortOrder" xsi:type="number">30</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlpineCommerce\Turnstile\Model\Form\Preset\CustomerForgotPassword" type="AlpineCommerce\Turnstile\Model\FormDefinition">
        <arguments>
            <argument name="id" xsi:type="string">customer_forgot_password</argument>
            <argument name="label" xsi:type="string">Forgot Your Password</argument>
            <argument name="actions" xsi:type="array">
                <item name="customer_account_forgotpasswordpost" xsi:type="string">customer_account_forgotpasswordpost</item>
            </argument>
            <argument name="requiredModule" xsi:type="string">Magento_Customer</argument>
            <argument name="redirectPath" xsi:type="string">customer/account/forgotpassword</argument>
            <argument name="redirectParams" xsi:type="array">
                <item name="_secure" xsi:type="boolean">true</item>
            </argument>
            <argument name="persister" xsi:type="object">AlpineCommerce\Turnstile\Model\FormDataPersister\CustomerForgotPassword</argument>
            <argument name="recaptchaConfigPath" xsi:type="string">recaptcha_frontend/type_for/customer_forgot_password</argument>
            <argument name="sortOrder" xsi:type="number">40</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlpineCommerce\Turnstile\Model\Form\Preset\Newsletter" type="AlpineCommerce\Turnstile\Model\FormDefinition">
        <arguments>
            <argument name="id" xsi:type="string">newsletter</argument>
            <argument name="label" xsi:type="string">Newsletter Subscription</argument>
            <argument name="actions" xsi:type="array">
                <item name="newsletter_subscriber_new" xsi:type="string">newsletter_subscriber_new</item>
            </argument>
            <argument name="requiredModule" xsi:type="string">Magento_Newsletter</argument>
            <argument name="recaptchaConfigPath" xsi:type="string">recaptcha_frontend/type_for/newsletter</argument>
            <argument name="sortOrder" xsi:type="number">50</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlpineCommerce\Turnstile\Model\Form\Preset\ProductReview" type="AlpineCommerce\Turnstile\Model\FormDefinition">
        <arguments>
            <argument name="id" xsi:type="string">product_review</argument>
            <argument name="label" xsi:type="string">Product Review</argument>
            <argument name="actions" xsi:type="array">
                <item name="review_product_post" xsi:type="string">review_product_post</item>
            </argument>
            <argument name="requiredModule" xsi:type="string">Magento_Review</argument>
            <argument name="persister" xsi:type="object">AlpineCommerce\Turnstile\Model\FormDataPersister\ProductReview</argument>
            <argument name="recaptchaConfigPath" xsi:type="string">recaptcha_frontend/type_for/product_review</argument>
            <argument name="sortOrder" xsi:type="number">60</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlpineCommerce\Turnstile\Model\Form\Preset\SendFriend" type="AlpineCommerce\Turnstile\Model\FormDefinition">
        <arguments>
            <argument name="id" xsi:type="string">sendfriend</argument>
            <argument name="label" xsi:type="string">Email to a Friend</argument>
            <argument name="actions" xsi:type="array">
                <item name="sendfriend_product_sendmail" xsi:type="string">sendfriend_product_sendmail</item>
            </argument>
            <argument name="requiredModule" xsi:type="string">Magento_SendFriend</argument>
            <argument name="persister" xsi:type="object">AlpineCommerce\Turnstile\Model\FormDataPersister\SendFriend</argument>
            <argument name="recaptchaConfigPath" xsi:type="string">recaptcha_frontend/type_for/sendfriend</argument>
            <argument name="sortOrder" xsi:type="number">70</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlpineCommerce\Turnstile\Model\Form\Preset\WishlistShare" type="AlpineCommerce\Turnstile\Model\FormDefinition">
        <arguments>
            <argument name="id" xsi:type="string">wishlist_share</argument>
            <argument name="label" xsi:type="string">Wishlist Sharing</argument>
            <argument name="actions" xsi:type="array">
                <item name="wishlist_index_send" xsi:type="string">wishlist_index_send</item>
            </argument>
            <argument name="requiredModule" xsi:type="string">Magento_Wishlist</argument>
            <argument name="redirectPath" xsi:type="string">wishlist/index/share</argument>
            <argument name="persister" xsi:type="object">AlpineCommerce\Turnstile\Model\FormDataPersister\WishlistShare</argument>
            <argument name="recaptchaConfigPath" xsi:type="string">recaptcha_frontend/type_for/wishlist</argument>
            <argument name="sortOrder" xsi:type="number">80</argument>
        </arguments>
    </virtualType>
    <type name="AlpineCommerce\Turnstile\Model\FormRegistry">
        <arguments>
            <argument name="forms" xsi:type="array">
                <item name="contact" xsi:type="object">AlpineCommerce\Turnstile\Model\Form\Preset\Contact</item>
                <item name="customer_create" xsi:type="object">AlpineCommerce\Turnstile\Model\Form\Preset\CustomerCreate</item>
                <item name="customer_login" xsi:type="object">AlpineCommerce\Turnstile\Model\Form\Preset\CustomerLogin</item>
                <item name="customer_forgot_password" xsi:type="object">AlpineCommerce\Turnstile\Model\Form\Preset\CustomerForgotPassword</item>
                <item name="newsletter" xsi:type="object">AlpineCommerce\Turnstile\Model\Form\Preset\Newsletter</item>
                <item name="product_review" xsi:type="object">AlpineCommerce\Turnstile\Model\Form\Preset\ProductReview</item>
                <item name="sendfriend" xsi:type="object">AlpineCommerce\Turnstile\Model\Form\Preset\SendFriend</item>
                <item name="wishlist_share" xsi:type="object">AlpineCommerce\Turnstile\Model\Form\Preset\WishlistShare</item>
            </argument>
        </arguments>
    </type>
    <!-- API twins (decision D4 = B): endpoints doing what a protected form does, blockable for anonymous
         callers by admin switch alpinecommerce_turnstile/api_twins/<id>, off by default. -->
    <virtualType name="AlpineCommerce\Turnstile\Model\Twin\Preset\CustomerCreateAccount" type="AlpineCommerce\Turnstile\Model\Twin\TwinDefinition">
        <arguments>
            <argument name="id" xsi:type="string">customer_create_account</argument>
            <argument name="label" xsi:type="string">REST/SOAP: create customer account (POST /V1/customers)</argument>
            <argument name="requiredModules" xsi:type="array">
                <item name="Magento_Webapi" xsi:type="string">Magento_Webapi</item>
                <item name="Magento_Customer" xsi:type="string">Magento_Customer</item>
            </argument>
            <argument name="serviceClass" xsi:type="string">Magento\Customer\Api\AccountManagementInterface</argument>
            <argument name="serviceMethod" xsi:type="string">createAccount</argument>
            <argument name="comment" xsi:type="string">Blocks anonymous calls only. Leave disabled if a headless storefront, PWA or mobile app calls this endpoint anonymously.</argument>
            <argument name="sortOrder" xsi:type="number">10</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlpineCommerce\Turnstile\Model\Twin\Preset\CustomerPasswordReset" type="AlpineCommerce\Turnstile\Model\Twin\TwinDefinition">
        <arguments>
            <argument name="id" xsi:type="string">customer_password_reset</argument>
            <argument name="label" xsi:type="string">REST/SOAP: password reset e-mail (PUT /V1/customers/password)</argument>
            <argument name="requiredModules" xsi:type="array">
                <item name="Magento_Webapi" xsi:type="string">Magento_Webapi</item>
                <item name="Magento_Customer" xsi:type="string">Magento_Customer</item>
            </argument>
            <argument name="serviceClass" xsi:type="string">Magento\Customer\Api\AccountManagementInterface</argument>
            <argument name="serviceMethod" xsi:type="string">initiatePasswordReset</argument>
            <argument name="comment" xsi:type="string">Blocks anonymous calls only. Leave disabled if a headless storefront, PWA or mobile app calls this endpoint anonymously.</argument>
            <argument name="sortOrder" xsi:type="number">20</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlpineCommerce\Turnstile\Model\Twin\Preset\CustomerToken" type="AlpineCommerce\Turnstile\Model\Twin\TwinDefinition">
        <arguments>
            <argument name="id" xsi:type="string">customer_token</argument>
            <argument name="label" xsi:type="string">REST/SOAP: customer login token (POST /V1/integration/customer/token)</argument>
            <argument name="requiredModules" xsi:type="array">
                <item name="Magento_Webapi" xsi:type="string">Magento_Webapi</item>
                <item name="Magento_Integration" xsi:type="string">Magento_Integration</item>
            </argument>
            <argument name="serviceClass" xsi:type="string">Magento\Integration\Api\CustomerTokenServiceInterface</argument>
            <argument name="serviceMethod" xsi:type="string">createCustomerAccessToken</argument>
            <argument name="comment" xsi:type="string">Blocks anonymous calls only. Leave disabled if a headless storefront, PWA or mobile app calls this endpoint anonymously.</argument>
            <argument name="sortOrder" xsi:type="number">30</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlpineCommerce\Turnstile\Model\Twin\Preset\GqlCreateCustomer" type="AlpineCommerce\Turnstile\Model\Twin\TwinDefinition">
        <arguments>
            <argument name="id" xsi:type="string">gql_create_customer</argument>
            <argument name="label" xsi:type="string">GraphQL: createCustomer</argument>
            <argument name="requiredModules" xsi:type="array">
                <item name="Magento_GraphQl" xsi:type="string">Magento_GraphQl</item>
                <item name="Magento_CustomerGraphQl" xsi:type="string">Magento_CustomerGraphQl</item>
            </argument>
            <argument name="mutation" xsi:type="string">createCustomer</argument>
            <argument name="comment" xsi:type="string">Blocks anonymous calls only. Leave disabled if a headless storefront, PWA or mobile app calls this endpoint anonymously.</argument>
            <argument name="sortOrder" xsi:type="number">40</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlpineCommerce\Turnstile\Model\Twin\Preset\GqlCreateCustomerV2" type="AlpineCommerce\Turnstile\Model\Twin\TwinDefinition">
        <arguments>
            <argument name="id" xsi:type="string">gql_create_customer_v2</argument>
            <argument name="label" xsi:type="string">GraphQL: createCustomerV2</argument>
            <argument name="requiredModules" xsi:type="array">
                <item name="Magento_GraphQl" xsi:type="string">Magento_GraphQl</item>
                <item name="Magento_CustomerGraphQl" xsi:type="string">Magento_CustomerGraphQl</item>
            </argument>
            <argument name="mutation" xsi:type="string">createCustomerV2</argument>
            <argument name="comment" xsi:type="string">Blocks anonymous calls only. Leave disabled if a headless storefront, PWA or mobile app calls this endpoint anonymously.</argument>
            <argument name="sortOrder" xsi:type="number">50</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlpineCommerce\Turnstile\Model\Twin\Preset\GqlGenerateCustomerToken" type="AlpineCommerce\Turnstile\Model\Twin\TwinDefinition">
        <arguments>
            <argument name="id" xsi:type="string">gql_generate_customer_token</argument>
            <argument name="label" xsi:type="string">GraphQL: generateCustomerToken</argument>
            <argument name="requiredModules" xsi:type="array">
                <item name="Magento_GraphQl" xsi:type="string">Magento_GraphQl</item>
                <item name="Magento_CustomerGraphQl" xsi:type="string">Magento_CustomerGraphQl</item>
            </argument>
            <argument name="mutation" xsi:type="string">generateCustomerToken</argument>
            <argument name="comment" xsi:type="string">Blocks anonymous calls only. Leave disabled if a headless storefront, PWA or mobile app calls this endpoint anonymously.</argument>
            <argument name="sortOrder" xsi:type="number">60</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlpineCommerce\Turnstile\Model\Twin\Preset\GqlRequestPasswordResetEmail" type="AlpineCommerce\Turnstile\Model\Twin\TwinDefinition">
        <arguments>
            <argument name="id" xsi:type="string">gql_request_password_reset_email</argument>
            <argument name="label" xsi:type="string">GraphQL: requestPasswordResetEmail</argument>
            <argument name="requiredModules" xsi:type="array">
                <item name="Magento_GraphQl" xsi:type="string">Magento_GraphQl</item>
                <item name="Magento_CustomerGraphQl" xsi:type="string">Magento_CustomerGraphQl</item>
            </argument>
            <argument name="mutation" xsi:type="string">requestPasswordResetEmail</argument>
            <argument name="comment" xsi:type="string">Blocks anonymous calls only. Leave disabled if a headless storefront, PWA or mobile app calls this endpoint anonymously.</argument>
            <argument name="sortOrder" xsi:type="number">70</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlpineCommerce\Turnstile\Model\Twin\Preset\GqlSubscribeNewsletter" type="AlpineCommerce\Turnstile\Model\Twin\TwinDefinition">
        <arguments>
            <argument name="id" xsi:type="string">gql_subscribe_newsletter</argument>
            <argument name="label" xsi:type="string">GraphQL: subscribeEmailToNewsletter</argument>
            <argument name="requiredModules" xsi:type="array">
                <item name="Magento_GraphQl" xsi:type="string">Magento_GraphQl</item>
                <item name="Magento_NewsletterGraphQl" xsi:type="string">Magento_NewsletterGraphQl</item>
            </argument>
            <argument name="mutation" xsi:type="string">subscribeEmailToNewsletter</argument>
            <argument name="comment" xsi:type="string">Blocks anonymous calls only. Leave disabled if a headless storefront, PWA or mobile app calls this endpoint anonymously.</argument>
            <argument name="sortOrder" xsi:type="number">80</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlpineCommerce\Turnstile\Model\Twin\Preset\GqlContactUs" type="AlpineCommerce\Turnstile\Model\Twin\TwinDefinition">
        <arguments>
            <argument name="id" xsi:type="string">gql_contact_us</argument>
            <argument name="label" xsi:type="string">GraphQL: contactUs</argument>
            <argument name="requiredModules" xsi:type="array">
                <item name="Magento_GraphQl" xsi:type="string">Magento_GraphQl</item>
                <item name="Magento_ContactGraphQl" xsi:type="string">Magento_ContactGraphQl</item>
            </argument>
            <argument name="mutation" xsi:type="string">contactUs</argument>
            <argument name="comment" xsi:type="string">Blocks anonymous calls only. Leave disabled if a headless storefront, PWA or mobile app calls this endpoint anonymously.</argument>
            <argument name="sortOrder" xsi:type="number">90</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlpineCommerce\Turnstile\Model\Twin\Preset\GqlCreateProductReview" type="AlpineCommerce\Turnstile\Model\Twin\TwinDefinition">
        <arguments>
            <argument name="id" xsi:type="string">gql_create_product_review</argument>
            <argument name="label" xsi:type="string">GraphQL: createProductReview</argument>
            <argument name="requiredModules" xsi:type="array">
                <item name="Magento_GraphQl" xsi:type="string">Magento_GraphQl</item>
                <item name="Magento_ReviewGraphQl" xsi:type="string">Magento_ReviewGraphQl</item>
            </argument>
            <argument name="mutation" xsi:type="string">createProductReview</argument>
            <argument name="comment" xsi:type="string">Hyvä: the product review form uses this mutation; enabling this switch breaks product reviews on Hyvä storefronts. Blocks anonymous calls only. Leave disabled if a headless storefront, PWA or mobile app calls this endpoint anonymously.</argument>
            <argument name="sortOrder" xsi:type="number">100</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlpineCommerce\Turnstile\Model\Twin\Preset\GqlSendEmailToFriend" type="AlpineCommerce\Turnstile\Model\Twin\TwinDefinition">
        <arguments>
            <argument name="id" xsi:type="string">gql_send_email_to_friend</argument>
            <argument name="label" xsi:type="string">GraphQL: sendEmailToFriend</argument>
            <argument name="requiredModules" xsi:type="array">
                <item name="Magento_GraphQl" xsi:type="string">Magento_GraphQl</item>
                <item name="Magento_SendFriendGraphQl" xsi:type="string">Magento_SendFriendGraphQl</item>
            </argument>
            <argument name="mutation" xsi:type="string">sendEmailToFriend</argument>
            <argument name="comment" xsi:type="string">Blocks anonymous calls only. Leave disabled if a headless storefront, PWA or mobile app calls this endpoint anonymously.</argument>
            <argument name="sortOrder" xsi:type="number">110</argument>
        </arguments>
    </virtualType>
    <type name="AlpineCommerce\Turnstile\Model\Twin\TwinRegistry">
        <arguments>
            <argument name="twins" xsi:type="array">
                <item name="customer_create_account" xsi:type="object">AlpineCommerce\Turnstile\Model\Twin\Preset\CustomerCreateAccount</item>
                <item name="customer_password_reset" xsi:type="object">AlpineCommerce\Turnstile\Model\Twin\Preset\CustomerPasswordReset</item>
                <item name="customer_token" xsi:type="object">AlpineCommerce\Turnstile\Model\Twin\Preset\CustomerToken</item>
                <item name="gql_create_customer" xsi:type="object">AlpineCommerce\Turnstile\Model\Twin\Preset\GqlCreateCustomer</item>
                <item name="gql_create_customer_v2" xsi:type="object">AlpineCommerce\Turnstile\Model\Twin\Preset\GqlCreateCustomerV2</item>
                <item name="gql_generate_customer_token" xsi:type="object">AlpineCommerce\Turnstile\Model\Twin\Preset\GqlGenerateCustomerToken</item>
                <item name="gql_request_password_reset_email" xsi:type="object">AlpineCommerce\Turnstile\Model\Twin\Preset\GqlRequestPasswordResetEmail</item>
                <item name="gql_subscribe_newsletter" xsi:type="object">AlpineCommerce\Turnstile\Model\Twin\Preset\GqlSubscribeNewsletter</item>
                <item name="gql_contact_us" xsi:type="object">AlpineCommerce\Turnstile\Model\Twin\Preset\GqlContactUs</item>
                <item name="gql_create_product_review" xsi:type="object">AlpineCommerce\Turnstile\Model\Twin\Preset\GqlCreateProductReview</item>
                <item name="gql_send_email_to_friend" xsi:type="object">AlpineCommerce\Turnstile\Model\Twin\Preset\GqlSendEmailToFriend</item>
            </argument>
        </arguments>
    </type>
</config>
