<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AlpineCommerce\ProductLabels\Api\Data\ProductLabelInterface"
                type="AlpineCommerce\ProductLabels\Model\ProductLabel"/>
    <preference for="AlpineCommerce\ProductLabels\Api\Data\ProductLabelSearchResultsInterface"
                type="AlpineCommerce\ProductLabels\Model\ProductLabelSearchResults"/>
    <preference for="AlpineCommerce\ProductLabels\Api\ProductLabelRepositoryInterface"
                type="AlpineCommerce\ProductLabels\Model\ProductLabelRepository"/>

    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="alpinecommerce_productlabels_catalog_block"
                type="AlpineCommerce\ProductLabels\Plugin\CatalogBlock"
                sortOrder="10"/>
    </type>
</config>
