//
//  AlpineCommerce LumaCheckout - checkout visual accents
//  ____________________________________________________________

.checkout-index-index {
    .opc-wrapper {
        .step-title {
            border-bottom: 3px solid #006bb4;
            color: #006bb4;
        }
    }

    .action.primary {
        background: #006bb4;
    }

    .field {
        .control {
            input:focus,
            select:focus,
            textarea:focus {
                border-color: #006bb4;
            }
        }
    }

    .opc-block-summary {
        border-top: 3px solid #006bb4;
    }
}
