<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customercare>
            <vip>
                <enabled>1</enabled>
                <bronze_threshold>100.00</bronze_threshold>
                <silver_threshold>500.00</silver_threshold>
                <gold_threshold>1000.00</gold_threshold>
            </vip>
        </customercare>
    </default>
</config>
