<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AlpineCommerce\CustomerCare\Api\CustomerCareInterface"
                type="AlpineCommerce\CustomerCare\Model\CustomerCare"/>
    <preference for="AlpineCommerce\CustomerCare\Api\Data\VipStatusInterface"
                type="AlpineCommerce\CustomerCare\Model\VipStatus"/>

    <type name="Magento\Sales\Model\Order">
        <plugin name="alpinecommerce_customercare_order_after_place"
                type="AlpineCommerce\CustomerCare\Plugin\Order\AfterPlace"
                sortOrder="10"/>
    </type>
</config>
