<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Cart\Sidebar">
        <plugin name="alpinecommerce_loyalty_minicart_incentive"
                type="AlpineCommerce\LoyaltyProgram\Plugin\LoyaltyIncentive"
                sortOrder="10"/>
    </type>

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="loyalty_points_config_provider"
                      xsi:type="object">AlpineCommerce\LoyaltyProgram\Model\Checkout\LoyaltyConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
