<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="autoinvoice" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Auto Invoice</label>
            <tab>sales</tab>
            <resource>AlpineCommerce_AutoInvoice::main</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Auto Invoice</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Automatically create invoice when order is placed</comment>
                </field>
                <field id="payment_methods" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Methods (comma separated)</label>
                    <comment>Example: checkmo, banktransfer, cashondelivery. Leave empty for all methods.</comment>
                    <validate>alphanumeric</validate>
                </field>
            </group>
        </section>
    </system>
</config>
