.status-enabled {
    color: green;
    font-weight: bold;
}

.status-disabled {
    color: red;
    font-weight: bold;
}

.auto-invoice-data-table {
    border-collapse: collapse;
    width: 100%;

    th, td {
        border: 1px solid #dee2e6;
        padding: 5px;
        text-align: left;
    }

    th {
        background-color: #f5f5f5;
        font-weight: bold;
    }
}
