<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework/Event/etc/events.xsd">
    <event name="sales_order_cancel_after">
        <observer name="autocreditmemo_create_on_cancel" instance="AlpineCommerce\CreditMemo\Observer\AutoCreditMemo"/>
    </event>
</config>
