<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Cartware\Faq\Api\Data\FaqInterface"
                type="Cartware\Faq\Model\Faq"/>
    <preference for="Cartware\Faq\Api\Data\FaqSearchResultsInterface"
                type="Cartware\Faq\Model\FaqSearchResults"/>
    <preference for="Cartware\Faq\Api\FaqRepositoryInterface"
                type="Cartware\Faq\Model\FaqRepository"/>
    <preference for="Cartware\Faq\Api\FaqRestInterface"
                type="Cartware\Faq\Model\Rest\FaqRestService"/>

    <virtualType name="faq_faq_listing_data_source"
                 type="Cartware\Faq\Ui\DataProvider\FaqListingDataProvider">
        <arguments>
            <argument name="name" xsi:type="string">faq_faq_listing_data_source</argument>
            <argument name="primaryFieldName" xsi:type="string">faq_id</argument>
            <argument name="requestFieldName" xsi:type="string">faq_id</argument>
        </arguments>
    </virtualType>

    <virtualType name="faq_faq_form_data_source"
                 type="Cartware\Faq\Ui\DataProvider\FaqFormDataProvider">
        <arguments>
            <argument name="name" xsi:type="string">faq_faq_form_data_source</argument>
            <argument name="primaryFieldName" xsi:type="string">faq_id</argument>
            <argument name="requestFieldName" xsi:type="string">faq_id</argument>
        </arguments>
    </virtualType>
</config>
