<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="AlpineCommerce_EuVat::config"
                          title="EU VAT Configuration"
                          sortOrder="10"/>
                <resource id="AlpineCommerce_EuVat::validation"
                          title="EU VAT Validation"
                          sortOrder="20">
                    <resource id="AlpineCommerce_EuVat::validation_history"
                              title="Validation History"
                              sortOrder="10"/>
                    <resource id="AlpineCommerce_EuVat::validation_validate"
                              title="Manual Validation"
                              sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
