<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="rma" translate="label" type="text" sortOrder="920" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>RMA (Returns)</label>
            <tab>sales</tab>
            <resource>AlpineCommerce_Rma::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General Configuration</label>
                <field id="enabled" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable RMA</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allow_return_days" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allow Returns Within (Days)</label>
                    <comment>Number of days after order date during which returns are allowed</comment>
                </field>
                <field id="require_approval" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Require Admin Approval</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If Yes, admin must approve return requests before processing</comment>
                </field>
                <field id="auto_generate_rma" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Auto Generate RMA Number</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="rma_prefix" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>RMA Number Prefix</label>
                    <comment>Prefix for auto-generated RMA numbers</comment>
                </field>
                <field id="notify_customer" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Notify Customer on Status Change</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="notify_admin" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Notify Admin on New Return Request</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
