<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="AlpineCommerce_EuVat::validation"
             title="EU VAT Validation"
             module="AlpineCommerce_EuVat"
             sortOrder="80"
             resource="AlpineCommerce_EuVat::validation"
             parent="Magento_Backend::sales"/>
        <add id="AlpineCommerce_EuVat::validation_history"
             title="Validation History"
             module="AlpineCommerce_EuVat"
             sortOrder="10"
             action="euvat/validation/index"
             resource="AlpineCommerce_EuVat::validation_history"
             parent="AlpineCommerce_EuVat::validation"/>
        <add id="AlpineCommerce_EuVat::validation_validate"
             title="Validate VAT"
             module="AlpineCommerce_EuVat"
             sortOrder="20"
             action="euvat/validation/validate"
             resource="AlpineCommerce_EuVat::validation_validate"
             parent="AlpineCommerce_EuVat::validation"/>
    </menu>
</config>
