<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- One observer for every protected form: it returns at once for routes absent from the form registry. -->
    <event name="controller_action_predispatch">
        <observer name="alpinecommerce_turnstile_form_protection" instance="AlpineCommerce\Turnstile\Observer\FormPredispatchObserver"/>
    </event>
</config>
