<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AlpineCommerce\Faq\Api\Data\FaqInterface"
                type="AlpineCommerce\Faq\Model\Faq"/>
    <preference for="AlpineCommerce\Faq\Api\Data\FaqSearchResultsInterface"
                type="AlpineCommerce\Faq\Model\FaqSearchResults"/>
    <preference for="AlpineCommerce\Faq\Api\FaqRepositoryInterface"
                type="AlpineCommerce\Faq\Model\FaqRepository"/>
    <preference for="AlpineCommerce\Faq\Api\FaqRestInterface"
                type="AlpineCommerce\Faq\Model\Rest\FaqRestService"/>
</config>
