<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Cartware_LegalPages::menu"
             title="Legal Pages"
             module="Cartware_LegalPages"
             sortOrder="42"
             resource="Cartware_LegalPages::legal"
             parent="Magento_Backend::content"/>
        <add id="Cartware_LegalPages::legal_page"
             title="Manage Legal Pages"
             module="Cartware_LegalPages"
             sortOrder="10"
             action="legal/page/index"
             resource="Cartware_LegalPages::legal"
             parent="Cartware_LegalPages::menu"/>
    </menu>
</config>
