<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="AlpineCommerce_StoreLocator::stores" title="Store Locator" module="AlpineCommerce_StoreLocator"
             sortOrder="90" parent="Magento_Backend::content" action="storelocator/store/index"
             resource="AlpineCommerce_StoreLocator::stores"/>
    </menu>
</config>
