<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AlpineCommerce\Blog\Api\Data\BlogPostInterface"
                type="AlpineCommerce\Blog\Model\BlogPost"/>
    <preference for="AlpineCommerce\Blog\Api\Data\BlogPostSearchResultsInterface"
                type="AlpineCommerce\Blog\Model\BlogPostSearchResults"/>
    <preference for="AlpineCommerce\Blog\Api\BlogPostRepositoryInterface"
                type="AlpineCommerce\Blog\Model\BlogPostRepository"/>
    <preference for="AlpineCommerce\Blog\Api\Data\BlogCategoryInterface"
                type="AlpineCommerce\Blog\Model\BlogCategory"/>
    <preference for="AlpineCommerce\Blog\Api\Data\BlogCategorySearchResultsInterface"
                type="AlpineCommerce\Blog\Model\BlogCategorySearchResults"/>
    <preference for="AlpineCommerce\Blog\Api\BlogCategoryRepositoryInterface"
                type="AlpineCommerce\Blog\Model\BlogCategoryRepository"/>
    <preference for="AlpineCommerce\Blog\Api\BlogRestInterface"
                type="AlpineCommerce\Blog\Model\Rest\BlogRestService"/>

    <virtualType name="blog_post_listing_data_source"
                 type="AlpineCommerce\Blog\Ui\DataProvider\PostListingDataProvider">
        <arguments>
            <argument name="name" xsi:type="string">blog_post_listing_data_source</argument>
            <argument name="primaryFieldName" xsi:type="string">post_id</argument>
            <argument name="requestFieldName" xsi:type="string">post_id</argument>
        </arguments>
    </virtualType>

    <virtualType name="blog_post_form_data_source"
                 type="AlpineCommerce\Blog\Ui\DataProvider\PostFormDataProvider">
        <arguments>
            <argument name="name" xsi:type="string">blog_post_form_data_source</argument>
            <argument name="primaryFieldName" xsi:type="string">post_id</argument>
            <argument name="requestFieldName" xsi:type="string">post_id</argument>
        </arguments>
    </virtualType>

    <virtualType name="blog_category_listing_data_source"
                 type="AlpineCommerce\Blog\Ui\DataProvider\CategoryListingDataProvider">
        <arguments>
            <argument name="name" xsi:type="string">blog_category_listing_data_source</argument>
            <argument name="primaryFieldName" xsi:type="string">category_id</argument>
            <argument name="requestFieldName" xsi:type="string">category_id</argument>
        </arguments>
    </virtualType>

    <virtualType name="blog_category_form_data_source"
                 type="AlpineCommerce\Blog\Ui\DataProvider\CategoryFormDataProvider">
        <arguments>
            <argument name="name" xsi:type="string">blog_category_form_data_source</argument>
            <argument name="primaryFieldName" xsi:type="string">category_id</argument>
            <argument name="requestFieldName" xsi:type="string">category_id</argument>
        </arguments>
    </virtualType>
</config>
