<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="AlpineCommerce_LoyaltyProgram::balance"
             title="Loyalty Balances"
             module="AlpineCommerce_LoyaltyProgram"
             sortOrder="100"
             parent="Magento_Customer::customer"
             action="loyalty/balance/index"
             resource="AlpineCommerce_LoyaltyProgram::balance"
        />
    </menu>
</config>
