<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cartware_hreflang>
            <general>
                <enabled>1</enabled>
                <x_default>1</x_default>
            </general>
        </cartware_hreflang>
    </default>
</config>
