<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <loyaltyprogram>
            <general>
                <enabled>1</enabled>
                <discount_percent>25</discount_percent>
            </general>
        </loyaltyprogram>
        <sales>
            <totals_sort>
                <alpinecommerce_loyalty_discount>25</alpinecommerce_loyalty_discount>
            </totals_sort>
        </sales>
    </default>
</config>
