<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework/Config/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="AlpineCommerce_StoreSetup::storesetup" title="Store Setup" sortOrder="10">
                    <resource id="AlpineCommerce_StoreSetup::settings" title="Settings" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
